<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">Title: <%= @post.title %></h2>
      <div class="well">
        <% if @post.user %>
          <ul class="listing">
            <div class="text-center">
              <li><%= link_to gravatar_for(@post.user), user_path(@post.user) %></li>
              <li class="post-title"><%= link_to @post.user.email, user_path(@post.user) %></li>
              <li><small><%= pluralize(@post.user.posts.count, "post") if @post.user.posts %></small></li>
            </div>
          </ul>
        <% end %>

        <h4 class="text-center"><strong>Description:</strong></h4>
        <hr>
        <%= simple_format(@post.description) %>

        <div class="post-actions text-center mt-3">
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary btn-sm" %>
          <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?"}, class: "btn btn-danger btn-sm" %>
          <%= link_to "Back", posts_path, class: "btn btn-success btn-sm" %>
        </div>

        <%= form_with(model: [@post, Comment.new]) do |form| %>
          <div class="form-group mt-3">
            <%= form.text_area :content, class: "form-control", placeholder: "Enter your comment" %>
          </div>
          <%= form.submit "Submit Comment", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="mt-4">Comments</h3>
      <% @post.comments.each do |comment| %>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title"><%= comment.user.email %></h5>
            <p class="card-text"><%= comment.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
